.topSection{
    background-image: linear-gradient(to right, #02283D, hsla(240, 10%, 94%, 0)),url(../../images/homePage-top-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    color: white;
    height: 600px;
    display: flex;
    align-items: center;
}

@media screen and (max-width:640px){
    .topSection{
        align-items: flex-end;
        justify-content: center;
        background-image:linear-gradient(to top, #01141f, hsla(240, 10%, 94%, 0)), url(../../images/homePage-top-banner.jpg);
        background-position: top right;
    }
}